[submodule "third_party/moonlight-common-c"]
	path = third_party/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "third_party/DirectXTK"]
	path = third_party/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
